{% schema %}
{
    "name": "Custom Feature Section",
    "settings": [],
    "blocks": [],
    "presets": [
        {
            "name": "Default"
        }
    ]
}
{% endschema %}

<style>
  body {
          font-family: 'inter', sans-serif;
          padding: 0;
  }

  .container {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          padding: 20px;
          gap: 20px;
          max-width: 1200px;
          margin: auto;
          background-color: #f0f0f0;
  }
  .feature-content {
          display: flex;
          flex-direction: column;
          gap: 20px;
          flex: 1;
          min-width: 300px;
  }

  .content {
          padding: 20px;
          text-align: center;
  }

  #image {
          flex: 1;
          text-align: center;
          min-width: 300px;
  }

  #image img {
          width: 100%;
          max-width: 400px;
  }

  @media (max-width: 767px) {
          .feature-content {
                  flex-direction: row;
          }

          .content {
                  flex: 1;
                  padding: 0px;
          }

          #image {
                  flex: 1;
          }
  }
</style>

<div class="container">
  <div class="feature-content">
    <div class="content">
      <h3>heading</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur ducimus quos itaque quia quibusdam
        reiciendis sapiente. Ex eius incidunt nulla blanditiis velit aspernatur voluptate, quas quia, iure, voluptatem
        dolorum?
      </p>
    </div>
    <div class="content">
      <h3>heading</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur ducimus quos itaque quia quibusdam
        reiciendis sapiente. Ex eius incidunt nulla blanditiis velit aspernatur voluptate, quas quia, iure, voluptatem
        dolorum?
      </p>
    </div>
  </div>
  <div id="image">
    <img src="https://placehold.co/600x400" alt="image">
  </div>
  <div class="feature-content">
    <div class="content">
      <h3>heading</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur ducimus quos itaque quia quibusdam
        reiciendis sapiente. Ex eius incidunt nulla blanditiis velit aspernatur voluptate, quas quia, iure, voluptatem
        dolorum?
      </p>
    </div>
    <div class="content">
      <h3>heading</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus aspernatur ducimus quos itaque quia quibusdam
        reiciendis sapiente. Ex eius incidunt nulla blanditiis velit aspernatur voluptate, quas quia, iure, voluptatem
        dolorum?
      </p>
    </div>
  </div>
</div>
